# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Vercel
.vercel

# Static
/public/static

# Local Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
